<div class="container">
<div class="row">

<h1>My Tasks</h1>

<ul class="form-check list-unstyled">
<% @tasks.each do |task| %>
<li class="form-check-label"><%= task.title %></li>
<% end %>
</ul>

</div>
</div>
